doctype html
html
    head
        title= title
        meta(charset="utf-8")
        link(rel='icon', href='/public/images/youdai/favicon.ico', mce_href='/public/images/favicon.ico', type='image/x-icon')
        link(rel='shortcut', icon='', href='/public/images/youdai/favicon.ico', mce_href='/public/images/favicon.ico', type='image/x-icon')
        link(rel='stylesheet', href='/public/css/style.css')
        script(src='/public/js/utils.js')
        script(src='/public/js/jquery.min.js')
        script(src='/public/js/moxie.min.js')
        script(src='/public/js/plupload.min.js')
        script(src='/public/js/qiniu.min.js')
    body
        block content
        script(src='/public/js/app.bundle.js')
        script.
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?5bceba9e478cb4fd676447c0513a6a17";
                var s  = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

