doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/public/stylesheets/style.css')
        script(src='/public/js/utils.js')
        script(src='/public/js/jquery.min.js')
        script(src='/public/js/moxie.min.js')
        script(src='/public/js/plupload.min.js')
        script(src='/public/js/qiniu.min.js')
    body
        block content
        script(src='/public/js/app.bundle.js')
