doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='/js/utils.js')
        script(src='/js/zepto.js')
        script(src='/js/qiniu/qiniu.min.js')
        script(src='/js/app.bundle.js')
